<h1 class="generalTitle">Editar Pessoa</h1>

<% if current_user.admin? or current_user.bolsista? %>

<%= render 'form', pessoa: @pessoa %>

<br>
<br>
<br>

<% else %>

<p> Você não possui privilégios para editar :(</p>

<%end%>