<h1 class="homeTitle">NDH - UFPel</h1>
<p class="home">O Núcleo de Documentação Histórica da UFPel (NDH - UFPel) foi fundado em março de 1990,
com as funções de um Centro de Documentação e Pesquisa em História.</p>

<p class="home">A idéia inicial de servir de local de preservação da história institucional da Universidade
  rapidamente foi acrescida das funções de Núcleo de Pesquisa, Extensão e centro de resguardo da história do
trabalho e dos partidos políticos de nossa região. </p>


<div class="homeButtons">
  <%= link_to processos_path, class: "waves-effect waves-light btn-large deep-purple darken-3" do %>
    <i class="material-icons right">visibility</i>Lista de Processos
  <% end %>
  <%= link_to processos_path, class: "waves-effect waves-light btn-large deep-purple darken-3" do %>
    <i class="material-icons right">zoom_in</i>Pesquisar por Processos
  <% end %>
</div>
