<h1 class="processoTitle">Editar Processo</h1>

<% if current_user.admin? or current_user.bolsista? %>

<%= render 'form', processo: @processo %>

<br>
<br>
<br>


<% else %>

<p> Você não possui privilégios para editar :(</p>

<% end %>