<h1 class="processoTitle">Novo Processo</h1>

<%= render 'form', processo: @processo %>

<%= link_to 'Cancelar', processos_path, class: "backbutton waves-effect waves-light btn deep-purple darken-3" %>
