<h1 class="generalTitle">Novo Processo</h1>

<% if (user_signed_in? and (current_user.admin? or current_user.bolista?)) %>
    <%= render 'form', processo: @processo %>
    <br>
    <br>
<% else %>
    <p>Você não possui autorização para isso :(</p>
<% end %>    