<h1>Número de resultados: <%= @search.busca_avancada_processo.count %></h1>


<% if @search.busca_avancada_processo.empty? %>
    <p>Nenhum processo encontrado :(</p>
<% else %>

   <% @search.busca_avancada_processo.each do |s| %>
       Processo: <%= s.numeroProcesso %>
       Detalhes: <%= s.demanda %>
       <br/>
    
    <% end %>
    
<% end %>    
     
