// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.homeTitle{
  text-align: center;
  font-weight: lighter;
  color: #4527a0;
  font-size: 80px;
}

p.home{
  width: 70%;
  margin-left: 15%;
  font-weight: 400;
  color: #4527a0;
  text-align: center;
}

.homeButtons{
  height: auto;
  width: 50%;
  display: inline;
  margin-left: 25%;
  margin-right: 25%;

  a{
    margin-left: 10px;
    margin-top: 100px;
  }
}
